body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container,
.dashboard-container {
  padding: 20px;
  text-align: center;
}

.note-creation input,
.note-creation textarea {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
}

.note-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
}
